.wd-search-field i {
  position: absolute;
}

.wd-search-field {
  width: 90%;
  margin-bottom: 10px;
}

.wd-search-icon {
  margin-top: 10px;
  margin-left: 10px;
}

.wd-input-field {
  width: 100%;
  text-align: left;
  text-indent: 25px;
}

.wd-tuit-normal {
  color: rgb(110, 118, 125);
  font-size: 13px;
  margin: 0px;
}
.wd-tuit-bold {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}